body{
  width: 100vw;
  height: 100vh;
}
#root{
  width: 100%;
  height: 100%;
}
.box{
  margin-left: 33%;
  display: flex;
  flex: row;
  border-radius: 15px;
  width: 30%;
  height: 30%;
}
.result{
  width: 50%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 1));
}
.summery{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0.5px 0.5px 10px rgb(79, 175, 249);
  background-color: white;
  width: 50%;
  height: 100%;
}